<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 max-w-5xl mx-auto text-sm">
  <nav class="mt-4 relative max-w-2xl w-full bg-white border border-gray-900 outline-2 mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto">
      
    <div class="md:hidden">
        <img (click)="toggleMenu()" src="/assets/navbar.png" class="w-8 h-8" alt="Open menu" id="menuButon" class="w-8 h-8 cursor-pointer transition hover:scale-110">
    </div>
      
      <div class="md:hidden">
        <span style="font-family: 'Pixelify Sans', sans-serif;" class="text-black text-xs mr-2 font-medium">4:44 p.m</span>
      </div>
      
      <div class="hidden grow md:block">
        <div class="text-sm flex flex-col md:flex-row md:items-center md:justify-between mt-3 md:mt-0 py-2 md:py-0 md:ps-7">
          <div class="flex flex-col md:flex-row gap-2 md:gap-3">
            <a (click)="SetActiveTab('projects')" [class.font-medium]="activeTab === 'projects'" style="font-family: 'Pixelify Sans', sans-serif;" class="text-lg py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#projects">Projects</a>
            <a (click)="SetActiveTab('skills')"  [class.font-medium]="activeTab === 'skills'" style="font-family: 'Pixelify Sans', sans-serif;" class="text-lg py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#skills">Skills</a>
            <a (click)="SetActiveTab('education')" [class.font-medium]="activeTab === 'education'" style="font-family: 'Pixelify Sans', sans-serif;" class="text-lg py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#education">Education</a>
          </div>
          <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-lg text-black font-medium mt-2 md:mt-0 md:ml-auto md:mr-8">4:44 p.m</a>
        </div>
      </div>

      <div id="mobileMenu" [class.hidden]="!menuOpen" class="hidden w-full mt-2 md:hidden">
        <div class="bg-[#ffff00] mb-2 space-y-2">
          <a href="#projects" (click)="SetActiveTab('projects')" [class.font-medium]="activeTab === 'projects'" style="font-family: 'Pixelify Sans', sans-serif;" class="block text-gray-800 hover:font-medium">Projects</a>
          <a href="#skills" (click)="SetActiveTab('projects')" [class.font-medium]="activeTab === 'projects'" style="font-family: 'Pixelify Sans', sans-serif;" class="block text-gray-800 hover:font-medium">Skills</a>
          <a href="#education" (click)="SetActiveTab('projects')" [class.font-medium]="activeTab === 'projects'" style="font-family: 'Pixelify Sans', sans-serif;" class="block text-gray-800 hover:font-medium">Education</a>
        </div>
      </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->