<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 max-w-5xl mx-auto text-sm">
  <nav class="mt-4 relative max-w-2xl w-full bg-white border border-gray-900 outline-2 mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto">
      <div class="md:hidden">
        <button type="button" class="bg-[#ffff00] flex justify-center items-center hover:size-12 ">
          <img src="/assets/navbar.png" alt="menu icon" class="w-8 h-8">
        </button>
      </div>
      <div class="md:hidden">
        <span class="text-black text-xs mr-2 font-medium">4:44 p.m</span>
      </div>
      
      <div class="hidden grow md:block">
        <div class="text-sm flex flex-col md:flex-row md:items-center md:justify-between mt-3 md:mt-0 py-2 md:py-0 md:ps-7">
          <div class="flex flex-col md:flex-row gap-2 md:gap-3">
            <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-base py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#projects">Projects</a>
            <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-base py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#skills">Skills</a>
            <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-base py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#education">Education</a>
            <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-base py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-800 hover:font-medium" href="#experience">Experience</a>
          </div>
          <a style="font-family: 'Pixelify Sans', sans-serif;" class="text-sm text-black font-medium mt-2 md:mt-0 md:ml-auto md:mr-4">4:44 p.m</a>
        </div>
      </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->