<h2 class = "mt-10 mb-3 font-semibold text-lg text-gray-800">
    Projects
</h2>
<!-- List of projects -->
<div class=" mb-10 grid grid-cols-2 sm:grid-cols-3 gap-4" id="projects">
  
  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/perrito.png" alt="Project">
      
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold  text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Breve descripción del proyecto.</p>
  </a>

  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/stickers.png" alt="Project">
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Descripción breve del proyecto.</p>
  </a>

  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/saikoro.png" alt="Project">
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Descripción breve del proyecto.</p>
  </a>

  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/rummy.png" alt="Project">
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Descripción breve del proyecto.</p>
  </a>

  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/lisandro.png" alt="Project">
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Descripción breve del proyecto.</p>
  </a>
  
  <a class="group block rounded-lg overflow-hidden" href="https://www.google.com" target="_blank">
    <div class="relative">
      <img class="w-full h-40 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800" src="/assets/papaleta.png" alt="Project">
      <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
        <div class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
          <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </div>

    <h3 class="mt-2 text-base font-semibold text-gray-800 dark:text-white bg-[#ffff00] border-2 border-black text-center">Nombre del Proyecto</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Descripción breve del proyecto.</p>
  </a>
</div>
<!-- End Image Grid -->
