<h2 class = "mt-10 mb-3 font-semibold text-lg text-gray-800">
Education
</h2>
<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3" id="education">
  <div class="p-4 border border-[#d44fa2] rounded-lg ">
    <p>
      <img class="shrink-0  mb-3" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Escudo_de_la_Universidad_Tecnol%C3%B3gica_de_Pereira.svg" alt="Escudo de la Universidad Tecnológica de Pereira" >
    </p>

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2024 - now
    </h3>

    <p class="font-semibold text-base text-gray-800 dark:text-neutral-200">
      Undergraduate Degree of Computer Science
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      The Technological University of Pereira
    </p>
  </div>

  <div class="p-4 border border-[#d44fa2] rounded-lg ">
    <p>
      <img class="shrink-0  mb-3" width="50" height="50" src="/assets/logo-sena.png" alt="Escudo de SENA" >
    </p>

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2022 - 2023
    </h3>

    <p class="font-semibold text-base text-gray-800 dark:text-neutral-200">
      Logistics Operations Integration Technician
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      SENA
    </p>
  </div>

  <div class="p-4 border border-[#d44fa2] rounded-lg ">
    <p>
      <img class="shrink-0  mb-3" width="50" height="50" src="/assets/logo-luis.png" alt="Escudo de colegio" >
    </p>

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2022 - 2023
    </h3>

    <p class="font-semibold text-base text-gray-800 dark:text-neutral-200">
      Logistics Operations Integration Technician
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Luis Carlos Galán Sarmiento Technical and Educational Institution
    </p>
  </div>

  <div class="p-4 border border-[#d44fa2] rounded-lg dark:border-neutral-700">
     <p>
      <img class="shrink-0  mb-3" width="50" height="50" src="/assets/logounibague.jpg" alt="File:Escudo de la Universidad de Ibagué" >
    </p>

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2015 - 2021
    </h3>
    <p class="font-semibold text-base text-gray-800 dark:text-neutral-200">
      English course up to B2 level
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      The University of Ibagué
    </p>
  </div>
</div>
<!-- End Grid -->
